.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar{
  max-width: 100%;
  background-color: #d6e2ec;
  padding: 5px;
}

.nav{
  margin: 25px;
  padding: 10px;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
  text-align: center;
  border-radius: 15px;
}

.logo{
  width: 200px;
  height: 100px;
  mix-blend-mode: lighten;
}

.button {
  background-color: #058aa8;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  color: white;
  font-weight: 900;
}

.links {
  display: flex;
  gap: 15px;
  
  >a {
    text-decoration: none;
    color: bisque;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
